page-home {

  .bottone-sistema{
    padding-right: 16px;
  }

  .toolbar-background {
    background-color: orange;
  }

  .logo-row{
    width: 339px;
    padding-left: 10px;
  //  padding-left: 109px;
  //  padding-right: 125px;
  //  padding-top: 10px;
  //  height: 112px;
  //  width: 388px;

  .col {
    border-top-width: 5px;
    margin-top: 15px;
  }
  }

}
