page-contatti {

  .logo-row-contatti{
    width: 100%;
  }

  .logo-row-mappa{
    margin-top: 10px;
  }

  .info{
    padding-left: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ffc400;
  }

}
